<!DOCTYPE html>
<html lang="es">
<head>
  {% block head %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  {% endblock %}
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-sm navbar-light" style="background-color: #E5E19C;">
        <a class="navbar-brand" href="#"><img src="static/logo.png" class="img-fluid rounded-top" alt="" width=80ex height=80ex> Maria's Cookies</a>
        <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation"></button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#" aria-current="page">Catalogo <span class="visually-hidden">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Populares</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Historial</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Historial (administrador)</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href="#">Por cliente</a>
                        <a class="dropdown-item" href="#">Por producto</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Productos (administrador)</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href="#">Ver lista de productos</a>
                        <a class="dropdown-item" href="#">Agregar producto</a>
                        <a class="dropdown-item" href="#">Modificar producto</a>
                        <a class="dropdown-item" href="#">Eliminar producto</a>
                    </div>
                </li>
            </ul>
            <button type="button" class="btn btn-primary">Registrarse</button>|
            <button type="button" class="btn btn-secundary">Iniciar sesion</button>
          </div>
      </nav>
      {% if 'nombre' in session %}
           <div>Bienvenid@ {{ session['nombre'] }}</div>
        {% endif %}
        {% block body %}
        {% endblock %}
  </body>  
  <footer>
    {% block footer %}
    (C) Maria's Cookies © 2023
    {% endblock %}
  </footer>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm
