{% extends "base.html" %}
{% block title %}Maria's Cookies{% endblock %}
{% block body %}
    <div class="containerPadre text-black">
        <h4>Pedidos</h4><br>
        <div class="container text-black">
            <ul class="lista">
                <li class="lista-item">
                    <div class="lista-content">
                        <img src="static/producto1.jpg" width="200" height="150"><br>
                        <h5>Producto 1</h5><br>
                        Precio
                        <a href="#">Más información</a>
                    </div>
                </li>
                <li class="lista-item">
                    <div class="lista-content">
                        <img src="static/producto2.jpg" width="200" height="150"><br>
                        <h5>Producto 2</h5><br>
                        Precio
                        <a href="#">Más información</a>
                    </div>
                </li>
                <li class="lista-item">
                    <div class="lista-content">
                        <img src="static/producto3.jpg" width="200" height="150"><br>
                        <h5>Producto 3</h5><br>
                        Precio
                        <a href="#">Más información</a>
                    </div>
                </li>
                <li class="lista-item">
                    <div class="lista-content">
                        <img src="static/producto4.jpg" width="200" height="150"><br>
                        <h5>Producto 4</h5><br>
                        Precio
                        <a href="#">Más información</a>
                    </div>
                </li>
            </ul>
        </div>        
    </div>
{% endblock %}